body {
    background-image: url('pokemon.jpg'); /* Cambia 'pokemon.jpg' por el nombre de tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
}

form {
    background: rgba(0, 0, 0, 0.7);
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

select {
    height: 40px;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #ff8c00;
}
/* Estilo para la tabla de lista de Pokémon */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ff6600; /* Color de fondo del encabezado de la tabla */
    color: #fff; /* Color del texto del encabezado de la tabla */
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo de filas pares */
}

tr:hover {
    background-color: #ddd; /* Cambia el color de fondo al pasar el cursor por encima de una fila */
}

/* Estilo para el título de la página de lista de Pokémon */
h1 {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
}

/* Estilo para la tabla de lista de Pokémon en dispositivos móviles */
@media screen and (max-width: 600px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }

    h1 {
        font-size: 24px;
    }
}
